Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# set Yii environment
SetEnv YII_ENV dev
#SetEnv YII_ENV stage
#SetEnv YII_ENV test
#SetEnv YII_ENV prod